.header{
	width: 100%;
	height: 1.8rem;
	background: linear-gradient(to right, #d03af5, #ee3fba);
	box-sizing: border-box;
	font-size: 0.3rem;
}

.header .top{
	width: 100%;
	width: 0.5rem;
	height: 1.3rem;
	line-height: 0.9rem;
	color: #fff;
	font-size: 0.3rem;
	padding-left: 0.24rem;
	padding-top: 0.4rem;
	box-sizing: border-box;
}

.header .btm{
	width: 100%;
	height: 0.5rem;
	font-size: 0.36rem;
	text-align: left;
	padding-left: 0.24rem;
	box-sizing: border-box;
	color: #fff;
}

.pay-amount{
	width: 100%;	
	height: 1.4rem;
	padding: 0 0.24rem;
	box-sizing: border-box;
	/*background: red;*/
	margin-top: 0.3rem;
}

.pay-amount>div{
	width: 100%;
	height: 50%;
	/*background: greenyellow;*/
	font-size: 0.3rem;
}

.pay-amount .top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pay-amount .top .left{
	display: flex;
	align-items: center;
}

.pay-amount .circle{
	display: inline-block;
	float: left;
	margin-right: 0.08rem;
	width: 0.1rem;
	height: 0.1rem;
	border-radius: 50%;
	background: rgb(255,43,78);
}

.pay-amount .circle2{
	background: rgb(255,191,37);
}

.pay-amount .top .text{
	float: left;
	font-size: 0.24rem;
	color: rgba(0, 0, 0, .6);
}

.pay-amount .top .price{
	float: right;
	text-align: right;
}

.pay-amount .top span{
	font-size: 0.22rem;
	color: rgba(255,43,78,.5);
}

.pay-amount .top i{
	font-size: 0.3rem;
	color: rgb(255,43,78);
}

.pay-amount .btm{
	text-align: right;
	font-size: 0;
	border-bottom: 1px solid rgba(0,0,0,.2);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 0.1rem;
}

.pay-amount .btm *{
	display: inline;
	font-size: 0.24rem;
	margin: 0 0.05rem;
}

.pay-amount .btm div{
	width: 0.7rem;
	height: 0.34rem;
	border-radius: 0.17rem;
	background: rgb(207,58,245);
	background: linear-gradient(to right, rgb(207,58,245), rgb(238,62,186));
	color: #fff;
	font-size: 0.18rem;
	line-height: 0.34rem;
	padding: 0 0.1rem;
	text-align: center;
}


.pay-amount .btm span{
	font-size: 0.24rem;
	color: rgba(0,0,0,.5);
}

.pay-amount .btm i{
	font-size: 0.24rem;
	color: rgba(0,0,0,.8);
}


.pay-type{
	width: 100%;
	height: 1.4rem;
	/*background: yellow;*/
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	padding: 0 0.36rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.pay-type>div{
	width: 3.24rem;
	height: 100%;
	/*background: #EE3FBA;*/
	background: #fff;
	box-shadow: 0 0 0.05rem 0 rgba(0,0,0,0.1);
}

.pay-type>div>div{
	float: left;
}

.pay-type .left{
	width: 0.82rem;
	height: 0.82rem;
	line-height: 0.82rem;
	margin: 0.29rem 0 0 0.31rem;
	margin-left: 0.31rem;
	/*background: paleturquoise;*/
}

.pay-type .left img{
	width: 100%;
	height: 100%;
}

.pay-type .right{
	margin-top: 0.42rem;
	margin-left: 0.1rem;
	font-size: 0.24rem;
	color: rgba(0,0,0,.5);
}

.opay{
	width: 100%;
}

.pay-tite{
	width: 100%;
	height: 0.6rem;
	font-size: 0.3rem;
	color: #fff;
	margin-bottom: 0.3rem;
}

.pay-tite>div{
	position: absolute;
	border-radius: 0 0.3rem 0.3rem 0;
	background: linear-gradient(to right, #d03af5, #ee3fba);
	height: 0.6rem;
	line-height: 0.6rem;
	padding-left: 0.36rem;
	padding-right: 0.3rem;
	text-align: right;
}

.pay-con .item{
	width: 6.78rem;
	height: 1.4rem;
	background: #D03AF5;
	font-size: 0.24rem;
	margin: 0 auto;
	margin-bottom: 0.1rem;
	border-radius: 0.15rem;
	background: #fff;
	box-shadow: 0 0 0.05rem 0 rgba(0,0,0,0.1);
}

.pay-con .item>div{
	float: left;
}

.pay-con .left{
	width: 0.82rem;
	height: 0.82rem;
	border-radius: 0.41rem;
	line-height: 0.82rem;
	font-size: 0.54rem;
	color: #fff;
	margin-top: 0.28rem;
	margin-left: 0.3rem;
	margin-right: 0.1rem;
	text-align: center;
	box-sizing: border-box;
	background: linear-gradient(to top, rgb(226,54,128), rgb(251,106,184));
}

.pay-con .item2 .left{
	background: linear-gradient(to top, rgb(69,171,252), rgb(136,214,255));
}

.pay-con .mid{
	margin-top: 0.3rem;
}

.pay-con .text1{
	color: rgba(0,0,0,.3);
}

.pay-con .text2{
	margin-top: 0.1rem;
	color: rgba(0,0,0,.6);
}

.pay-con .right{
	width: 0.58rem;
	height: 0.34rem;
	border-radius: 0.17rem;
	background: linear-gradient(to top, rgb(226,54,128), rgb(251,106,184));
	font-size: 0.24rem;
	color: #fff;
	line-height: 0.34rem;
	text-align: center;
}

.pay-con .item .right{
	float: right;
	margin: 0.52rem 0.25rem 0 0;
}

.pay-con .item2 .right{
	background: linear-gradient(to top, rgb(69,171,252), rgb(136,214,255));
}
