.header{
	width: 100%;
	height: 2.8rem;
	position: relative;
}

.head-bkg{
	width: 100%;
	height: 100%;
}

.head-bkg img{
	widows: 100%;
	height: 100%;
}

.avator{
	position: absolute;
	left: 50%;
	top: 1.92rem;
	margin-left: -0.88rem;
	width: 1.76rem;
	height: 1.76rem;
	line-height: 1.76rem;
	text-align: center;
	font-size: 0.64rem;
	background: rgba(208,58,244,.8);
	border-radius: 50%;
	color: #fff;
}

.register{
	position: absolute;
	right: 0.5rem;
	top: 0.6rem;
	width: 0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	text-align: center;
	border-radius: 0.2rem;
	background: rgba(0,0,0,.4);
	color: rgba(255,255,255,.7);
	font-size: 0.24rem;
}

.des{
	width: 100%;
	height: 1.2rem;
	/*background: red;*/
	margin-top: 2rem;
	margin-bottom: 0.46rem;
}

.des>div{
	margin: 0 auto;
	text-align: center;
	font-size: 0.36rem;
	color: rgb(207,58,245);
}

.des .text2{
	font-size: 0.3rem;
	color: rgba(238,62,186,.5);
	margin: 0.08rem auto;
}

.des .text3{
	font-size: 0.24rem;
	color: rgb(207,58,245);
}

.login{
	width: 100%;
	height: 4.9rem;
}

.login-con{
	width: 5.54rem;
	height: 4.9rem;
	margin: 0 auto;
	border-radius: 0.15rem;
	background: #fff;
	box-shadow: 0 0 0.05rem 0 rgba(0,0,0,0.1);
	position: relative;
}

.login-con>div{
	width: 5.06rem;
	height: 1.42rem;
	border-bottom: 0.03rem solid rgba(0,0,0,.05);
	margin: 0 auto;
	box-sizing: border-box;
	padding-top: 0.4rem;
	position: relative;
}

.name-des{
	margin: 0 auto;
	font-size: 0.24rem;
	color: rgba(0,0,0,.3);
	text-align: center;
}

.name-input{
	height: 0.6rem;
	width: 100%;
}

.name-input input{
	display: block;
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;
	color: rgba(0,0,0,.4);
}

.name .circle, .passwd .circle, .verification .circle{
	position: absolute;
	left: 0.2rem;
	bottom: 0.24rem;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: rgb(208,58,244);
}

.verification .circle{
	background: rgb(157,162,255);
}

.passwd .circle{
	background: rgb(255,44,89);
}

.login-con .log-but{
	position: absolute;
	left: 50%;
	margin-left: -1.25rem;
	bottom: -0.38rem;
	width: 2.5rem;
	height: 0.76rem;
	border-radius: 0.38rem;
	background: rgb(221,221,221);
	box-sizing: border-box;
	padding: 0 0.3rem;
}

.login-con .but-in{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.4rem;
	color: #999999;
}

.but-in .check{
	width: 0.6rem;
	height: 100%;
	text-align: center;
	line-height: 0.76rem;
}

.log-but:hover{
	background: linear-gradient(to right, #d03af5, #ee3fba);
}

.log-but:hover .iconfont{
	color: #fff;
}

.log-but .circle{
	width: 0.18rem;
	height: 0.18rem;
	border-radius: 50%;
	background: #fff;
}

.forget-pwd{
	width: 100%;
	height: 0.34rem;
	font-size: 0.22rem;
	margin-top: 1rem;
}

.fpwd-con{
	width: 5.06rem;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fpwd-con .rectangle{
	width: 1.5rem;
	height: 0.04rem;
	background: rgba(0,0,0,.05);
}

.fpwd-con .text{
	font-style: normal;
	color: rgba(0,0,0,.3);
	margin: 0 0.1rem;
}
